*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Aakar", Arial, Helvetica, sans-serif;
    line-height: 1.2rem;
    scroll-behavior: smooth;
    background: url("../images/bg-one.jpg") no-repeat fixed center/cover;
}

/* Utilities */

.container{
    padding:2rem;
}

.lead{
    color: rgb(243, 9, 9);
}


/* Green */
.green {
    border-color: #4CAF50;
    color: green;
  }
  
  .green:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Blue */
  .blue {
    border-color: #2196F3;
    color: dodgerblue
  }
  
  .blue:hover {
    background: #2196F3;
    color: white;
  }
  
  /* Orange */
  .orange {
    border-color: #ff9800;
    color: orange;
  }
  
  .orange:hover {
    background: #ff9800;
    color: white;
  }
  
  /* Red */
  .red {
    border-color: #f44336;
    color: red
  }
  
  .red:hover {
    background: #f44336;
    color: white;
  }
  
  /* Gray */
  .gray {
    border-color: #e7e7e7;
    color: black;
  }
  
  .gray:hover {
    background: #e7e7e7;
  }

  #res{
      padding: 1.5rem;
      color: #fff;
      font-size: 1.2rem;
      font-weight: bolder;
      display: none;
  }
  #del{
      font-size: 0.5rem;
      padding: 0.3rem 0.5rem;
      outline: none;
      cursor: pointer;
  }
  #edit{
      font-size: 0.5rem;
      padding: 0.3rem 0.5rem;
      outline: none;
      cursor: pointer;
  }

/* Navabar */

#navbar{
    background: linear-gradient(to right, rgb(39, 1, 1), rgb(70, 2, 2));
    color: #fff;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 1000;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 0;
}
#navbar h1{
    transition: all linear 2s;
}

.list-collection{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.list-item{
    margin: 0 1rem;
    cursor: pointer;
    transition: all linear 2s;
}
.list-collection .list-item a, #navbar h1 a{
    color: #fff;
    text-decoration: none;
}

.list-item:hover, #navbar h1:hover{
    background: rgba(235, 8, 8, 0.733);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding:0 0.6rem;
}

.container-one{
    
    height:1000px;
}

.container-content{
    position: absolute;
    top: 4rem;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    padding: 0rem 1rem;
}

label{
    display: inline-block;
    margin-left: 0.5rem;
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 1000;
}

input{
    width: 20%;
    padding: 0.5rem 0.6rem;
    border: none;
    border-radius: 5px;
    outline-color: floralwhite;
}

/* Hide number overflow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Button */

.button-container{
    margin: 1rem;
    display: flex;
    justify-content: center;
}
button{
    margin: 0.5rem 2rem;
    border-radius: 5px;
    border: 2px solid black;
    padding: .7rem 1rem;
    background-color: #fff;
    color: black;
    font-size: 1rem;
    transition: linear 1s;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid rgb(112, 28, 28);
}

th, td {
    text-align: left;
    padding: 10px;
    text-align: center;
}
th{
    background-color: #180202;
    font-weight: 900;

}
td{
    font-size: 1.2rem;
}
tr:nth-child(even) {
    background-color: #440606
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
#navbar{
    display: block;
    font-size: 0.9rem;
    text-align: center;
    padding: 0.5rem;
}

.logo{
    margin: 0.8rem 0;
}

.list-collection{
    display: inline-block;
}
.list-item{
    margin-bottom: 0.6rem;
    border-bottom: 1px dashed #fff;
}

.container{
    padding: 0 ;
}

.container-content{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

input{
    display: block;
    width: 100%;
    margin-bottom: 0.9rem;
}
button{
    padding: 0.3rem 0.5rem;
    text-align: center;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    #navbar{
        display: flex;
        font-size: 0.9rem;
        text-align: center;
        padding: 0.5rem;
    }
    
    .logo{
        margin: 0.8rem 0;
    }
    
    .list-collection{
        display: flex;
        height: 1rem;
        padding-top: 1.2rem;
        justify-content: space-around;
    }
    .list-item{
        border: none;
    }
    
    .container{
        padding: 0 ;
    }
    
    .container-content{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
    }
    
    input{
        display: block;
        width: 100%;
        margin-bottom: 0.9rem;
    }
    button{
        padding: 0.3rem 0.5rem;
        text-align: center;
    }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #navbar{
      display: flex;
      padding: 1rem 2rem;  
    }

    .container-one{
        padding: 0;
    }
    .container-content{
        padding: 2rem 1rem;
        position: absolute;
        top: 5.1rem;
        left: 0;
        right: 0;
        height:100vh;
    }

    label{
        display: inline-block;
        margin: 0;
        font-size: .9rem;
    }

    input{
        display: inline-block;
        width: 15%;
        padding: 0.1rem 0.3rem;
    }

    button{
        padding: 0.3rem 0.5rem;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #navbar{
        font-size: 1rem;
        padding: 1rem 3rem;
    }

    input{
        width: 20%;

    }

    button{
        padding: 0.1rem 0.2rem;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #navbar{
        font-size: 1.3rem;
    }
    
    input{
        width: 22%;
        padding: 0.4rem 0.6rem;
    }

    button{
        padding: 0.5rem 1rem;
    }

}







